@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
* {
    font-family: 'PT Serif', serif;
}


/* navbar style start */

#navbar {
    width: 100%;
    display: flex;
    background-color: #023047;
}

nav h2 {
    color: #cce3de;
    padding-left: 10px;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    padding: 10px;
    margin-top: 10px;
}

.navbar ul li a {
    text-decoration: none;
    background-color: #03045e;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.navbar ul li a:hover {
    color: #cce3de;
}

.search-item .search-btn {
    color: white;
    background-color: #00b4d8;
    border-radius: 5px;
    margin-left: 10px;
    width: 50%;
    height: 100%;
}

.search-bar {
    background-color: #00b4d8;
    width: 100%;
    height: 100%;
    border-color: none;
    outline: none;
    border-color: #03045e;
    border-radius: 5px;
    color: white;
}

.search-item {
    width: 15rem;
}

#search-icon {
    font-size: 20px;
    margin-right: 10px;
    color: #00b4d8;
}


/* navbar style end */


/* main course style start  */

.main-content {
    background-color: #f6fff8;
    font-family: 'Aboreto', cursive;
}

#card {
    box-shadow: 0.5px black;
}

#card:hover {
    box-shadow: 1px 1px 1px 1px #d8e2dc;
}

.main-content a {
    text-decoration: none;
    color: black;
}

.main-content span {
    background-color: #fee440;
    border-radius: 5px;
    width: 20rem;
    font-size: 15px;
}


/* main course style end */


/* footer start */

.foot {
    background-color: black;
    width: 100%;
    height: 16rem;
    text-align: center;
    color: white;
}

.foot h5 {
    color: white;
}

.icons span a {
    font-size: 25px;
    padding: 10px;
}

.foot ul li {
    list-style: none;
    padding: 5px;
}

.foot .copright {
    font-size: 30px;
}